$t-title: #111111; // 标题/重要内容/深色图标
$t-main: #333333; // 副标题/正文内容/次要图标
$t-tip: #666666; // 次要提示/说明文字/灰色图标
$t-placeholder: #999999; // 辅助信息/提示信息

$c-input-inner: #a3a3a3; // 文本框内字段
$c-weak-placeholder: #ccc; // 弱信息/弱辅助色/禁用色
$c-gray: #eeeeee; // 标签色/文本框/分割线/边框/禁用色
$c-card-border: #ececf0; // 卡片组件边框
$c-btn-gary: #f2f2f2; // 次按钮色
$c-light-gray: #f9f9f9; // 页面背景色
$c-mask: #000000 40%; // 弹窗层蒙版

$radius-mini: 4px;
$radius-small: 6px; // 内容卡片圆角
$radius-middle: 8px; // 内容卡片圆角 | 弹窗卡片圆角
$radius-large: 10px; // 底部特殊弹窗

$h5-public-bg: #f1f4fa; // 公共背景色
$h5-light-shadow: 0 2px 16px 0 rgba(255, 255, 255, 0.5);
$h5-lighter-shadow: 0 2px 16px 0 rgba(255, 255, 255, 0.3);
$h5-dark-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.02);
