@font-face {
  font-family: "uniicons"; /* Project id 1387774 */
  src: url('//at.alicdn.com/t/c/font_1387774_m4xck1ypkai.woff2?t=1695373262356') format('woff2'),
       url('//at.alicdn.com/t/c/font_1387774_m4xck1ypkai.woff?t=1695373262356') format('woff'),
       url('//at.alicdn.com/t/c/font_1387774_m4xck1ypkai.ttf?t=1695373262356') format('truetype');
}

.uniicons {
  font-family: "uniicons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uicon-icon_wodetuiguang:before {
  content: "\e60d";
}

.uicon-icon_woderenwu:before {
  content: "\e60f";
}

.uicon-icon_renwuliebiao:before {
  content: "\e610";
}

.uicon-icon_guanjianciku:before {
  content: "\e612";
}

.uicon-shouye1:before {
  content: "\e615";
}

.uicon-xiaojiantou:before {
  content: "\e60b";
}

.uicon-arrow_down_fat:before {
  content: "\e62b";
}

.uicon-erweima:before {
  content: "\e60a";
}

.uicon-zhanghaoguanli_huaban1:before {
  content: "\e630";
}

.uicon-shouye:before {
  content: "\e637";
}

.uicon-renyuanguanli:before {
  content: "\e62e";
}

.uicon-wodezhanghao:before {
  content: "\e61b";
}

.uicon-fabushenpi-02:before {
  content: "\e99a";
}

.uicon-jiantouyou:before {
  content: "\e62d";
}

.uicon-fuzhi:before {
  content: "\e8b0";
}

.uicon-lianjie:before {
  content: "\e609";
}

.uicon-shaixuan:before {
  content: "\e8b6";
}

.uicon-weixin:before {
  content: "\e608";
}

.uicon-weixin1:before {
  content: "\e614";
}

.uicon-mima1:before {
  content: "\e607";
}

.uicon-shouji:before {
  content: "\e606";
}

.uicon-iconfontedit:before {
  content: "\e61f";
}

.uicon-jianchagengxin:before {
  content: "\e687";
}

.uicon-zhuti:before {
  content: "\e653";
}

.uicon-xuqiaofahu:before {
  content: "\e6f4";
}

.uicon-shanchu:before {
  content: "\e611";
}

.uicon-zhuye1:before {
  content: "\e753";
}

.uicon-qingli:before {
  content: "\e62c";
}

.uicon-guanli1:before {
  content: "\e617";
}

.uicon-fenxiang3:before {
  content: "\e618";
}

.uicon-cunchu:before {
  content: "\e781";
}

.uicon-qq:before {
  content: "\e605";
}

.uicon-shoujirenzheng:before {
  content: "\e647";
}

.uicon-renzheng:before {
  content: "\e604";
}

.uicon-fenxiang:before {
  content: "\e65c";
}

.uicon-xuanzhuanpingmu:before {
  content: "\e696";
}

.uicon-tongzhi:before {
  content: "\e629";
}

.uicon-shijian:before {
  content: "\e632";
}

.uicon-chakan:before {
  content: "\e60e";
}

.uicon-mima:before {
  content: "\e622";
}

.uicon-qingchu:before {
  content: "\e62a";
}

.uicon-xuanze:before {
  content: "\e886";
}

.uicon-video:before {
  content: "\e6be";
}

.uicon-denglu1:before {
  content: "\e603";
}

.uicon-zhiwen:before {
  content: "\e640";
}

.uicon-xinjian:before {
  content: "\e695";
}

.uicon-shangchuan:before {
  content: "\e602";
}

.uicon-xiaoxi:before {
  content: "\e7a8";
}

.uicon-gerenxinxi:before {
  content: "\e613";
}

.uicon-gerenxinxi1:before {
  content: "\e601";
}

.uicon-denglu:before {
  content: "\e600";
}

.uicon-yuyanqiehuan2:before {
  content: "\e60c";
}
